.header {
  height: 66px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #FBEB5A;

  &-title {
    font-size: 24px;
    line-height: 31px;
  }

  &__buttons{
    display: flex;
    align-items: center;
    gap: 20px;
  }
}