.workspace {
  flex-grow: 1;
  width: 100%;

  &-wrapper {
    flex-grow: 1;
  }

  &__header {
    padding: 10px 20px ;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    line-height: 26px;
    height: 90px;

    p {
      margin: 0;
    }
  }

  &__content {
    padding: 0 20px ;
    display: flex;
    gap: 20px;

    &-item {
      flex: 50%;

      textarea {
        min-height: 40vh;
      }
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
}